{% extends "profiles/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/user_register.css' %}">
{% endblock styles %}

{% block title %}
    Sign Up
{% endblock title %}

{% block content %}

 <!-- ***************************************************************** -->
<!-- Heading part -->
<h1 class="h1"> <a class="main_name" href="{% url 'main_page' %}">Rememberall</a></h1>
<h2 class="h2">Please sign-up here</h2>

<form action='.' method='POST'> {% csrf_token %}
<!-- ***************************************************************** -->
<!-- content part -->
  <div class="sign_up">
    <div class="first">
      <p class="log_in_requirements">First name</p>
      {{form.first_name}}

      <p class="log_in_requirements">Last name</p>
      {{form.last_name}}
    </div>

    <div class="second">
      <p class="log_in_requirements">Email</p>
      {{form.email}}

      <p class="log_in_requirements">Username</p>
      {{form.username}}
    </div>

    <div class="third">
      <p class="log_in_requirements">Password</p>
      {{form.password1}}

      <p class="log_in_requirements">Confirm Password</p>
      {{form.password2}}
    </div>
  </div>

<!-- ***************************************************************** -->
<!-- buttons part -->

  <div class="buttons"> 
    <input type='submit' class="button" value='Sign Up'/>
    <button class="button"> <a href="{% url 'login' %}">Already have an account?</a> </button>
  </div>
</form>

{% endblock content %}