/*  ***************************************************************** 
  Heading part */
  
  /* Add a black background color to the top navigation */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(111, 111, 111);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
  }

  .active {
    background-color: rgb(77, 154, 218);
  }

  .dropbtn {
    background-color: rgb(111, 111, 111);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #111;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: whitesmoke;
  }
  
  .show {
    display: block;
}