.search-container {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

#search-form label {
    width: 76.2px;
}

.results {
    width: 80%;
}

.search-sidebar {
    margin-right: 50px;
}

.clear-button {
    color: white;
}

.clear-button:hover {
    text-decoration: none;
    color: white;
}

.applied-filters {
    margin-top: 20px;
    border: 1px black solid;
    padding: 5px;
}

.applied-filters-header {
    font-size: 16px;
}

/*  ***************************************************************** 
  Heading part */
  
  /* Add a black background color to the top navigation */
  