.main-container {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;;
}

.resource-detail {
    width: 80%;
}

.resources-sidebar {
    padding: 10px;
    margin-right: 50px;
    background-color: bisque;
    border-right: 1px #9c9c9c solid;
}
  
div[class*='dropdown-content'] {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-left: 260px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div[class*='dropdown-content'] a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.icons {
    cursor: pointer;
    position: relative;
    float: right;
    display: inline-block;
}