.note {
  border: 1px grey solid;
  padding: 5px;
  display: block;
  width: 100%;
  overflow: auto;
}

.note-timestamp {
  font-size: 12px;
}

.edit-note {
  width: 50px;
  height: 15px;
  float: right;
}

.edit {
  width: 15px;
  height: 15px;
}

.delete {
  width: 15px;
  height: 15px;
}

.content {
  margin-bottom: 0;
  width: 97%;
}

.btn-info {
  margin-bottom: 25px !important;
}

#id-cancel-note-form {
  color: white;
}

#adobe-dc-view {
  width: 800px;
  height: 600px;
  box-shadow: 1px 1px 10px 1px #dadada;
}

.link-field {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.link-field:link {
  color: blue;
}

.link-field:active {
  color: red;
}

.link-field[href^="http"] {
  background: url('external-link.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}