<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% block styles %}
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>{% block title %} Profile {% endblock %}</title>

    {% block navbar %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main_page' %}">Rememberall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" id="id-navbar-items">
      
            <li class="nav-item" id="id-timeline">
              <a class="nav-link" href="{% url 'mindspace:mindspace_search' %}">Timeline</a>
            </li>
      
            <li class="nav-item" id="id-dashboard">
              <a class="nav-link" href="{% url 'mindspace:mindspace_list' %}">Dashboard</a>
            </li>

            <li class="nav-item" id="id-qna">
              <a class="nav-link" href="{% url 'qna:question_list' %}">Q&A</a>
            </li>
      
            <li class="nav-item" id="id-profile" data-id="{{request.user.profile.id}}">
              <a class="nav-link" id="id-profile-link" href="{% url 'profiles:profile_detail' id=request.user.profile.id %}">Profile</a>
            </li>
      
          </ul>
      
          <ul class="navbar-nav">
      
            <li class="nav-item" id="id-notifications">
              <a class="nav-link" href="{% url 'profiles:profile_notifications' id=request.user.profile.id %}">Notification</a>
            </li>
      
            <li class="nav-item" id="id-logout">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
      
            <form class="form-inline my-2 my-lg-0" id="id-navbar-search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
      
          </ul>
      
        </div>
      </nav>

    {% endblock navbar%}
    
  </head>

  <body>

    <div class="profile-detail">

    </div>

    {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div class="messages">
            {% for message in messages %}
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% block content %} 
    {% endblock %} 

    <footer>
      <script src="{% static 'mindspace/update_navbar.js' %}"></script>
      <script src="{% static 'profiles/profile.js' %}"></script>

      <style>
        .profile-detail {
          text-align: center;
          padding-top: 20px;
          margin-left: 1000px;
          display: none;
          position: absolute;
          background-color: #f9ffaa;
          width: 300px;
          min-height: 300px;
          max-height: inherit;
          max-height: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
      </style>
    </footer>

    {% block js %} 
    {% endblock %}

  </body>
</html>