{% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/notification_list.css' %}">
{% endblock styles %}

{% block js %}
  <script>
    $(document).on("click", "#id-profile-name", function(e) {
      e.preventDefault();
      
      $.ajax({
        type: 'GET',
        url: $(this).attr("href"),
        success: function(response) {
          $("#id-profile-modal-body").html(response);
        }
      });
    });
  </script>
{% endblock js %}

{% block title %}
    Notifications
{% endblock title %}

{% block content %}

  <div class="modal fade" id="id-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="id-profile-modal-body">
            ...
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: rgba(255, 248, 220, 0.815);">
    <h2 class="ms_header">Notifications</h2>
    
      {% for object in object_list %}
        <div class="card bg-transparent border-success">
          <div class="card-body">
              {% if object.read_date == Null %}
                  <h5 class="card-title"> New Notification* </h5>
              {% else %}
                  <h5 class="card-title"> Notification </h5>
              {% endif %}

              {% if object.notification_type == 'UA' %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> updated the answer for your question <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a></p>
                  <a href="{{object.subject_answer.question.get_absolute_url}}" class="btn btn-primary">Go to question</a>

              {% elif object.notification_type == 'PA' %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> posted an answer for your question <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a></p>
                  <a href="{{object.subject_answer.question.get_absolute_url}}" class="btn btn-primary">Go to question</a>

              {% elif object.notification_type == 'AE' %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> added you as an editor for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                  <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>

              {% elif object.notification_type == 'RE' %}
                  {% if object.subject_mindspace.public %}
                      <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from editors for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                      <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>
                  {% else %}
                      <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from editors for "{{object.subject_mindspace.title}}"</p>
                  {% endif %}

              {% elif object.notification_type == 'AC' %}
                <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> added you as a commenter for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>

              {% elif object.notification_type == 'RC' %}
                {% if object.subject_mindspace.public %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from commenters for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                  <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>
                {% else %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from commenters for "{{object.subject_mindspace.title}}"</p>
                {% endif %}

              {% elif object.notification_type == 'AV' %}
                <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> added you as a viewer for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>

              {% elif object.notification_type == 'RV' %}
                {% if object.subject_mindspace.public %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from viewers for <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a></p>
                  <a href="{{object.subject_mindspace.get_absolute_url}}" class="btn btn-primary">Go to Mindspace</a>
                {% else %}
                  <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> removed you from viewers for "{{object.subject_mindspace.title}}"</p>
                {% endif %}

              {% elif object.notification_type == 'UV' %}
                <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> upvoted your answer for <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a></p>
                <a href="{{object.subject_answer.question.get_absolute_url}}" class="btn btn-primary">Go to Question</a>
              {% elif object.notification_type == 'DV' %}
                <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> downvoted your answer for <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a></p>
                <a href="{{object.subject_answer.question.get_absolute_url}}" class="btn btn-primary">Go to Question</a>
              {% elif object.notification_type == 'TV' %}
                <p class="card-text"> <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}> {{object.sent_by.f_name}}</a> took back their vote for your answer for <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a></p>
                <a href="{{object.subject_answer.question.get_absolute_url}}" class="btn btn-primary">Go to Question</a>
                
              {% endif %}
          </div>
          <div class="card-footer bg-transparent border-success">
              <small class="text-muted"> {{object.sent_date|timesince}} ago </small>
          </div>
        </div>
      
      {% empty %}
        <p>You have no notifications</p>
      {% endfor %}

    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}

  </div>

{% endblock content %}