{% extends "mindspace/base.html" %} 

{% load get_item %}
{% load get_access_level %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/notification_list.css' %}">
{% endblock styles %}

{% block js %}
  <script>
    $(document).on("click", "#id-profile-name", function(e) {
      e.preventDefault();
      
      $.ajax({
        type: 'GET',
        url: $(this).attr("href"),
        success: function(response) {
          $("#id-profile-modal-body").html(response);
        }
      });
    });
  </script>
{% endblock js %}

{% block title %}
    Notifications
{% endblock title %}

{% block content %}

  <div class="modal fade" id="id-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="id-profile-modal-body">
            ...
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: rgba(255, 248, 220, 0.815);">

    <h2 class="ms_header">
      Notifications
      {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current btn btn-outline-primary" style="cursor: default;">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
              <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
    </h2>
    
    <div class="list-group">
      {% for object in object_list %}
        <div class="list-group-item bg-transparent border-primary"> 

          <div class="d-flex w-100 justify-content-between"> 
            {% if object.read_date == Null %}
              <h5 class="mb-1"> New Notification* </h5>
            {% else %}
              <h5 class="mb-1"> Notification </h5>
            {% endif %}
            <small> {{object.sent_date|timesince}} ago </small>
          </div>

          <p class="mb-1"> 
            <a id="id-profile-name" data-toggle="modal" data-target="#id-profile-modal" href={% url 'profiles:profile_detail' id=object.sent_by.id %}>
              {{object.sent_by.f_name}}
            </a>

            {{wording|get_item:object.notification_type}}

            {% if object.subject_answer %}
              <a href="{{object.subject_answer.question.get_absolute_url}}">{{object.subject_answer.question.title}}</a>
            
            {% else %}

              {% if object.subject_mindspace.is_public or object.subject_mindspace|get_access_level:request.user.profile %}
                <a href="{{object.subject_mindspace.get_absolute_url}}">{{object.subject_mindspace.title}}</a>
              {% else %}
                {{object.subject_mindspace.title}}
              {% endif %}
            
            {% endif %}
          </p>
        </div>
      
      {% empty %}
        <p>You have no notifications.</p>
      {% endfor %}
    </div>


  </div>

{% endblock content %}