  {% if object.image %}
    <img src="{{ object.image.url }}">
  {% endif %}
  <div class="details">
    <h1>{{object.f_name}} {{object.l_name}}</h1>
    {% if object.bio %}
      <p> {{object.bio}} </p>
    {% else %}
      <p>No bio available</p>
    {% endif %}

    {% if object.company %}
      <p> <b>Company:</b> {{object.company}} </p>
    {% else %}
    {% endif %}
  </div>
  
  {% if object == request.user.profile %}
    <button class="btn btn-secondary" id="id-edit-profile-button" action="{% url 'profiles:profile_update' id=object.id %}">Edit profile</button>
  {% endif %}

<style>
  .details {
    border-top: 1px #9c9c9c solid;
    padding-top: 10px;
    margin-top: 10px;
  }
</style>

<script>
  $(document).on('click', '#id-edit-profile-button', function(e) {
    $.ajax({
      type: 'GET',
      url: $(this).attr("action"),
      success: function(response) {
        $("#id-profile-detail").html(response);
      }
    });
  });
</script>