{% comment %} {% extends 'mindspace/base.html' %}

{% block navbar %}
{% endblock navbar %}

{% block title %}
{% endblock title %} {% endcomment %}

{% comment %} {% block navbar %}
<ul>
  <li><a href={% url 'main_page' %}>Home</a></li>
  <li><a href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
  <li><a class="active" href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
  <li><a href={% url 'qna:question_list' %}>Q&A</a></li>
  <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Actions</button>
    <div id="myDropdown" class="dropdown-content">
      <a href={% url 'profiles:profile_update' id=request.user.profile.id %}>Edit your profile</a>
      <a href="#about">Clicked</a>
      <a href="#contact">Clicked</a>
    </div>
  </div>
</ul>
{% endblock navbar %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

<div class="container-fluid">

  {% if object.image %}
    <img src="{{ object.image.url }}">
  {% endif %}
  <div class="details">
    <h1>{{object.f_name}} {{object.l_name}}</h1>
    {% if object.bio %}
      <p> {{object.bio}} </p>
    {% else %}
      <p>No bio available</p>
    {% endif %}

    {% if object.company %}
      <p> <b>Company:</b> {{object.company}} </p>
    {% else %}
    {% endif %}
  </div>
  <button class="btn btn-secondary" id="id-edit-profile-button" action="{% url 'profiles:profile_update' id=object.id %}">Edit profile</button>
</div>

<style>
  .details {
    border-top: 1px #9c9c9c solid;
    padding-top: 10px;
    margin-top: 10px;
  }
</style>

<script>
  $(document).on('click', '#id-edit-profile-button', function(e) {
    $.ajax({
      type: 'GET',
      url: $(this).attr("action"),
      success: function(response) {
        $("#id-profile-detail").html(response);
      }
    });
  });
</script>

{% comment %} {% endblock content %} {% endcomment %}