{% comment %} {% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/profile_detail.css' %}">
{% endblock styles %}
{% block js %}
  <script src="{% static 'profiles/dropdown.js' %}"></script>
{% endblock js %}

{% block title %}
    {{block.super}} - Update
{% endblock title %} {% endcomment %}

{% comment %} {% block navbar %}

  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a class="active" href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a href="#">Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href={% url 'profiles:profile_update' id=request.user.profile.id %}>Edit your profile</a>
        <a href="#about">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>

{% endblock navbar %} {% endcomment %}

{% load crispy_forms_tags %}

{% comment %} {% block content %} {% endcomment %}
    <h4> Update Your Profile </h4>
    <form action="{% url 'profiles:profile_update' id=object.id %}" method='POST' id="id-form-edit-profile" enctype="multipart/form-data">{% csrf_token %}
        {{form|crispy}}
        {% if form.instance.image %}
          <img src="{{ form.instance.image.url }}">
        {% endif %}
        <input type='submit' class='btn btn-success' value='Save'/>
        {% comment %} <a class="btn btn-secondary" href="{{object.get_absolute_url}}" role="button">Cancel</a> {% endcomment %}
    </form>
{% comment %} {% endblock content %} {% endcomment %}

<style>
  #id_bio {
    height: 100px !important;
  }
</style>