{% extends "profiles/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/user_login.css' %}">
{% endblock styles %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <div class="heading">
      <h1 class="h1"> <a class="main_name" href="{% url 'main_page' %}">Rememberall</a></h1>
      <h3 class="h3">Organize and share your learning journey</h3>
    </div>
    
    <!-- ***************************************************************** -->
    <!-- Log-in part -->
    <form action='.' method='POST'>{% csrf_token %}
      <div class="log_in">
        {% if form.errors %}
          <p>Wrong e-mail or password!</p>
        {% endif %}
        
        <p class="log_in_requirements">Username</p>
        {{form.username}}
        <p class="log_in_requirements">Password</p>
        {{form.password}}

        {% if request.GET.next %}
          <input type='hidden' name='next' value='{{request.GET.next}}'>
        {% endif %}
      </div>
  
    <!-- ***************************************************************** -->
    <!-- buttons part -->
  
    <div class="buttons"> 
      <input type='submit' class="button" value='Login'/>
      <button class="button"><a href='{% url 'signup' %}'>Sign Up</a></button>
      <p class="forgot"><a href="{% url 'password_reset' %}" class="forgot">Forgot password?</a></p>
    </div>
  </form>

{% endblock content %}