body{
    background-image: url("log-in.jpg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  /*  ***************************************************************** 
  Heading part */

  .the-header{
    width: 28%;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 5px;
    width: 100px;
    margin-left: 400px;
    
  }
  

  .main_name{
    width: 100px;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 50px;
  }

  .main_name:hover {
    text-decoration: none;
  }
  
  
  /*  ***************************************************************** 
  content part */
  .the-container{
    padding-left: 0;
    margin-left: 400px;
    margin-top: 0;
  }
  
  .sign_up{
    color: rgb(77, 77, 77);
    width: 28%;
    padding-left: 10px;
    padding-bottom: 0;
    display: flex;
    align-content: space-between;
  }

  .second{
    margin-left: 10%;
  }

  .third{
    margin-left: 10%;
  }
  
  
  .log_in_requirements{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .inputs{
    background-color: rgb(255, 255, 235);
    margin-bottom: 8px;
  }
  
  
  
  /*  ***************************************************************** 
  Buttons part */
  
  .buttons{
    color: rgb(77, 77, 77);
    width: 28%;
    padding: 10px;
    padding-top: 0;
    margin-top: 5px;
  
  }
  
  .button{
    font-size: 14px;
    color: rgb(77, 77, 77);
    background-color: rgb(253, 255, 118);
    cursor: pointer;
  
  }

  .button a {
    text-decoration: none;
    color: rgb(77, 77, 77);
  }

  .button a:hover {
    text-decoration: none;
    color: rgb(77, 77, 77);
}
  
  .button:hover{
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    
  }