{% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mindspace/dashboard.css' %}">
{% endblock styles %}

{% block js %}
    <script src="{% static 'mindspace/dashboard.js' %}"></script>
{% endblock js %}

{% block title %}Dashboard{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="main-container">

        <div class="mindspace-sidebar">
            <div class="mindspace-create">
                <h4> Create a new Mindspace </h4>
                <form action="{% url 'mindspace:mindspace_create' %}" method="POST" id='id-mindspace-form'> {% csrf_token %}
                    {{form_create|crispy}}
                    <input type='submit' class='btn btn-secondary' value='Save'/>
                </form>
            </div>

            <div class="mindspace-search">
                <h4> Search a Mindspace </h4>
                <form action="{% url 'mindspace:ajax_load_search_results' %}" id='id-mindspace-search-form' autocomplete="off">
                    {{form_search|crispy}}
                    <input type='submit' id="id-question-search-submit-button" class='btn btn-secondary' value='Search'/>
                </form>
            </div>

        </div>

        <div class="mindspace-results">
            <div class="section-buttons">
                <button type="button" id="id-sharedmindspaces-button" data-url="{% url 'mindspace:ajax_load_mindspace_lists' %}" class="btn btn-info btn-lg btn-block disabled">Mindspaces Shared With You</button>
                <button type="button" id="id-mymindspaces-button" data-url="{% url 'mindspace:ajax_load_mindspace_lists' %}" class="btn btn-secondary btn-lg btn-block disabled">My Mindspaces</button>
            </div>

            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="display: none; margin-top: 20px;color: rgb(77, 77, 77);">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="mindspace-lists" style="display: none;"></div>
            <div class="mindspace-search-results" style="display: none;"></div>
        </div>
    </div>

{% endblock content %}