{% extends "mindspace/base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_detail.css' %}">
{% endblock styles %}
{% block js %}
    <script src="{% static 'mindspace/detail.js' %}"></script>
    <script src="{% static 'mindspace/notes.js' %}"></script>
{% endblock js %}

{% block title %}
    {{object.title}}
{% endblock title %}

{% load markdown_extras %}

{% block content %}

    <div class="main-container">

        <div class="resources-sidebar">

            <div class="card">
                <div class="card-header bg-transparent">
                    Mindspace
                </div>
                <div class="card-body bg-transparent">
                    <h5 class="card-title" id="id-mindspace-title-{{object.id}}"> {{object.title}} </h5>
                    <p class="card-text"> {{object.description|markdown|safe}} </p>
                </div>
                <div class="card-footer text-muted bg-transparent">
                    <small>Created at {{object.created_at|date:"l j M Y - H:i"}}</small>
                </div>
            </div>
            
            {% if object.owner == request.user.profile %}
                <div class="buttons" style="margin-top: 5px;">
                    <button id="id-update" href="{% url 'mindspace:mindspace_update' id=object.id %}" class="btn btn-secondary" data-toggle="modal" data-target="#id-mindspace-modal">Update</button>
                    <button id="id-share" href="{% url 'mindspace:mindspace_share' id=object.id %}" class="btn btn-secondary" data-toggle="modal" data-target="#id-mindspace-modal">Share</button>
                    <button id="id-delete" href="{% url 'mindspace:mindspace_delete' id=object.id %}" class="btn btn-secondary" data-toggle="modal" data-target="#id-mindspace-modal">Delete</button>
                </div>
            {% elif profile_has_edit_access %}
                <div class="buttons" style="margin-top: 5px;">
                    <button id="id-update" href="{% url 'mindspace:mindspace_update' id=object.id %}" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#id-mindspace-modal">Update</button>
                </div>
            {% endif %}

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 10px; padding-top: 10px; border-top: 1px gray dotted;">
                <li class="nav-item" role="presentation">
                    <a style="color: rgb(77, 77, 77);" data-url="{% url 'mindspace:ajax_load_mindspace_detail_items' %}" class="nav-link" id="pills-resources-tab" data-toggle="pill" href="#pills-resources" role="tab" aria-controls="pills-resources" aria-selected="false">Resources</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a style="color: rgb(77, 77, 77);" data-url="{% url 'mindspace:ajax_load_mindspace_detail_items' %}" class="nav-link" id="pills-questions-tab" data-toggle="pill" href="#pills-questions" role="tab" aria-controls="pills-questions" aria-selected="false">Questions</a>
                </li>
            </ul>

            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="display: none; margin-top: 20px;color: rgb(77, 77, 77);">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent"></div>
        </div>

        <div id="id-resource-detail" class="resource-detail">

            <div class="modal fade" id="id-mindspace-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body" id="id-mindspace-modal-body">
                        ...
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-dark" id="id-collapse" style="display: none;">
                Collapse
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </button>

            <div class="detail" id="id-detail">
                
            </div>

        </div>
    </div>

{% endblock content %}