{% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_list.css' %}">
{% endblock styles %}

{% block js %}
  {% comment %} <script src="{% static 'mindspace/dropdown.js' %}"></script> {% endcomment %}
{% endblock js %}

{% block title %}
    {{block.super}} - Dashboard
{% endblock title %}

{% comment %} {% block navbar %}
  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a class="active" href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a href={% url 'qna:question_list' %}>Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>
    <li style="float:right"><a href={% url 'profiles:profile_notifications' id=request.user.profile.id %}>Notifications
        <span class="badge badge-light"> {{request.user.profile.unseen_notifs}} </span>
    </a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href={% url 'mindspace:mindspace_create' %}>Create a new Mindspace</a>
        <a href="{% url 'mindspace:mindspace_search' %}">Timeline</a>
      </div>
    </div>
  </ul>
{% endblock navbar %} {% endcomment %}

{% block content %}

    <div class="container-fluid">
      <h2 class="ms_header">Your Mindspaces</h2>

      <div class="card-deck">
        {% for object in object_list %}
          <div class="card bg-transparent border-success" style="margin-bottom: 5px;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body text-success">
              <h5 class="card-title"> {{object.title}} </h5>
              <p class="card-text"> {{object.description}} </p>
              <a href="{{object.get_absolute_url}}" class="btn btn-secondary">Go</a>
            </div>

            <div class="card-footer bg-transparent border-success">
              {% if object.is_recent %}
                <small class="text-muted"> Updated just now </small>
              {% else %}
                <small class="text-muted">Last updated {{object.updated_at|timesince}} ago </small>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="container-fluid">
      <h2 class="ms_header">Mindspaces shared with you</h2>

      <div class="card-deck">
        {% for object in object_list_edit %}
          <div class="card bg-transparent border-success" style="margin-bottom: 5px;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body text-success">
              <h5 class="card-title"> {{object.mindspace.title}} </h5>
              <p class="card-text"> {{object.mindspace.description}} </p>
              <a href="{{object.mindspace.get_absolute_url}}" class="btn btn-secondary">Go</a>
            </div>

            <div class="card-footer bg-transparent border-success">
              {% if object.mindspace.is_recent %}
                <small class="text-muted"> Updated just now </small>
              {% else %}
                <small class="text-muted">Last updated {{object.mindspace.updated_at|timesince}} ago </small>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}