{% extends "mindspace/base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_search_list.css' %}">
{% endblock styles %}
{% block js %}
    {% comment %} <script src="{% static 'mindspace/dropdown.js' %}"></script> {% endcomment %}
    <script src="{% static 'mindspace/search.js' %}"></script>
{% endblock js %}

{% block title %}
    Timeline
{% endblock title %}

{% comment %} {% block navbar %}

  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a href={% url 'qna:question_list' %}>Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>
    <li style="float:right"><a href="#">Notifications</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Clicked</a>
        <a href="#">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>

{% endblock navbar %} {% endcomment %}

{% block content %}

    <div class="search-container">

        <div class="search-sidebar">
            <h2>Filter</h2>
            <form action='.' id='search-form' autocomplete="off" method='GET'>
                {{form.as_p}}
                <input type='button' load-results-url="{% url 'mindspace:ajax_load_search_results' %}" id="id_filter_button" class='btn btn-success' method="GET" value='Filter'/>
                <button class='btn btn-success'> <a class="clear-button" href="{% url 'mindspace:mindspace_search' %}"> Clear All </a> </button>
            </form>

        </div>

        <div id="id_results" class="results">
            <h2>All Public Mindspaces</h2>
            <p> {{object_list|length}} result(s) found </p>
            <div class="row">
                {% for result in object_list %}

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> {{result.title}} </h5>
                                <p class="card-text"> {{result.description}} </p>
                                <p class="card-text"> Owner: {{result.owner}} </p>
                                <a href="{% url 'mindspace:mindspace_detail' id=result.id %}" class="btn btn-primary">Go to Mindspace</a>
                                <a href="#" class="btn btn-primary">Save this Mindspace</a>
                            </div>
                        </div>
                    </div>

                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}