{% load crispy_forms_tags %}
{% load index %}
{% load get_item %}

<h4 style="margin-left: 20px;"> Share {{mindspace.title}} </h4>

<div class="input-group input-group-sm mb-3" style="margin-left: 20px;">
  <input type="text" id="id-search-profile-in-share" class="form-control" placeholder="Search through users that already have access to this mindspace" aria-label="Recipient's username" aria-describedby="id-search-profile-button">
  <div class="input-group-append" style="margin-right: 20px">
    <button class="btn btn-outline-secondary" type="button" id="id-search-profile-button">Search</button>
    <button class="btn btn-outline-secondary" type="button" id="id-search-profile-cancel-button">Cancel</button>
  </div>
</div>

{% if searched_username %} 
  <div class="alert alert-info" role="alert" style="margin-left: 20px;">
    <p style="margin-bottom: 0px;">Searched {{searched_username}}, {{results_found}} result(s) found!</p>
  </div>
{% endif %}

<div id="id-search-profile-error-div" style="margin-left: 20px;"></div>

<form action="{% url 'mindspace:mindspace_share' id=mindspace.id %}" id="id-share-mindspace-form" method='POST' style="margin: 20px; padding-bottom: 10px;">{% csrf_token %}
  {{formset.management_form|crispy}}
    {% for form in formset %}
      {{ form.id }}
      {{ form|crispy }}
      {% if form_errors %}
        {% if err_msgs|get_item:forloop.counter0 %}
          <div class="alert alert-danger">
            <strong> {{ err_msgs|get_item:forloop.counter0|escape }} </strong>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="buttons">
      <input type='submit' class='btn btn-success' value='Save'/>
      <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</form>
