{% load crispy_forms_tags %}
{% load index %}
{% load get_item %}

<h4 style="margin-left: 20px;"> Share {{mindspace.title}} </h4>
<form action="{% url 'mindspace:mindspace_share' id=mindspace.id %}" id="id-share-mindspace-form" method='POST' style="margin: 20px; padding-bottom: 10px;">{% csrf_token %}
  {{formset.management_form|crispy}}
    {% for form in formset %}
      {{ form.id }}
      {{ form|crispy }}
      {% if form_errors %}
        {% if err_msgs|get_item:forloop.counter0 %}
          <div class="alert alert-danger">
            <strong> {{ err_msgs|get_item:forloop.counter0|escape }} </strong>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="buttons">
      <input type='submit' class='btn btn-success' value='Save'/>
      <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</form>
