{% extends "mindspace/base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_detail2.css' %}">
{% endblock styles %}
{% block js %}
    <script src="{% static 'mindspace/detail.js' %}"></script>
{% endblock js %}

{% block title %}
    {{object.title}}
{% endblock title %}

{% block content %}

    <div class="main-container">

        <div class="resources-sidebar">

            <div class="card">
                <div class="card-header bg-transparent">
                    Mindspace
                </div>
                <div class="card-body bg-transparent">
                    <h5 class="card-title"> {{object.title}} </h5>
                    <p class="card-text"> {{object.description}} </p>
                </div>
                <div class="card-footer text-muted bg-transparent">
                    <small>Created at {{object.created_at|date:"l j M Y - H:i"}}</small>
                </div>
            </div>
            
            <div class="buttons" style="margin-top: 5px;">
                <button id="id-update" href="{% url 'mindspace:mindspace_update' id=object.id %}" class="btn btn-secondary">Update</button>
                <button id="id-share" href="{% url 'mindspace:mindspace_share' id=object.id %}" class="btn btn-secondary">Share</button>
                <button id="id-delete" href="{% url 'mindspace:mindspace_delete' id=object.id %}" class="btn btn-secondary">Delete</button>
            </div>

            <h4 style="margin-top: 5px;">Resources</h4>
                {% for res in object.resources.all %}
                    <p style="min-height: 20px;"> 
                        <a style="text-decoration: none; color: black; float: left; display: inline;" id="id-show-resource-detail-{{res.id}}" href="{% url 'mindspace:resource_detail' ms_id=object.id id=res.id %}"> {{ res.title|truncatewords_html:3 }} </a>
                        
                        {% comment %} <svg class="icons" id="id-kebab-resource-{{res.id}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg> {% endcomment %}
                        <svg class="icons" id="id-delete-resource-{{res.id}}" data-url="{% url 'mindspace:resource_delete' ms_id=object.id id=res.id %}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <svg class="icons" id="id-edit-resource-{{res.id}}" data-url="{% url 'mindspace:resource_update' ms_id=object.id id=res.id %}" style="margin-right: 3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>

                        <div id="id-resource-dropdown-menu-{{res.id}}" class="dropdown-content-{{res.id}}">
                        </div>
                    </p>
                {% empty %}
                    No resources found.
                {% endfor %}

        </div>

        <div id="id-resource-detail" class="resource-detail">

            <div class="mindspace-edit" id="id-mindspace-edit" style="margin-bottom: 10px; background-color: bisque;">

            </div>

            <button class="btn btn-dark" id="id-collapse" style="display: none;">
                Collapse
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </button>

            <div class="detail" id="id-detail">
                
            </div>

        </div>
    </div>

{% endblock content %}