{% comment %} {% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
{% endblock styles %}

{% block js %}
  <script src="{% static 'mindspace/dropdown.js' %}"></script>
{% endblock js %} {% endcomment %}

{% load crispy_forms_tags %}

{% comment %} {% block title %}
    {{block.super}} - Create
{% endblock title %} {% endcomment %}

{% comment %} {% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main_page' %}">Rememberall</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mindspace:mindspace_search' %}">Timeline</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mindspace:mindspace_list' %}">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:profile_detail' id=request.user.profile.id %}">Profile</a>
      </li>

    </ul>

    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:profile_notifications' id=request.user.profile.id %}">Notification</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </ul>

  </div>
</nav>

{% endblock navbar %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

    <h4> Create a new Mindspace </h4>
    <form action="{% url 'mindspace:mindspace_create' %}" method='POST' id="id-create-mindspace-form">{% csrf_token %}
        {{form|crispy}}
        <input type='submit' class='btn btn-success' value='Save'/>
        {% comment %} <a class="btn btn-secondary" href="{% url 'mindspace:mindspace_list' %}" role="button">Cancel</a> {% endcomment %}
    </form>

{% comment %} {% endblock content %} {% endcomment %}