{% load static %}
{% load crispy_forms_tags %}

<h4 style="margin-top: 5px;"> Update {{object.title}} </h4>

{% include 'mindspace/markdown_toolbar.html' %}

<form action="{% url 'mindspace:resource_update' ms_id=object.belongs_to.id id=object.id %}" method='POST' id="id-form-edit-resource" enctype="multipart/form-data">{% csrf_token %}
  {{form.title|as_crispy_field}}
  {{form.description|as_crispy_field}}
  {{form.res_format|as_crispy_field}}
  {{form.video|as_crispy_field}}
  {{form.image|as_crispy_field}}
  <a data-toggle="tooltip" data-placement="right" title="{{ form.document.help_text|safe }}">{{form.document|as_crispy_field}}</a>
  {{form.quote|as_crispy_field}}
  {{form.link|as_crispy_field}}

  <div class="buttons">
    <input type='submit' class='btn btn-success' value='Save'/>
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
  </div>
</form>

{{ form.media }}

<div class="progress" id="progress" style="display: none;"></div>

<script src="{% static 'mindspace/resource_create.js' %}"></script>


<style>
  #id_description {
    height: 100px !important;
  }
</style>