{% load crispy_forms_tags %}
{% load static %}

<h4> Create a new Resource </h4>
<form action="{% url 'mindspace:resource_create' ms_id=parent.id %}" id="id-create-resource-form" method='POST' enctype="multipart/form-data">{% csrf_token %}
    {{form.title|as_crispy_field}}
    {{form.description|as_crispy_field}}
    {{form.res_format|as_crispy_field}}
    {{form.video|as_crispy_field}}
    {{form.image|as_crispy_field}}
    <a data-toggle="tooltip" data-placement="right" title="{{ form.document.help_text|safe }}">{{form.document|as_crispy_field}}</a>
    {{form.quote|as_crispy_field}}
    {{form.link|as_crispy_field}}
    <input type='submit' class='btn btn-success' value='Save'/>
    <a class="btn btn-secondary" data-dismiss="modal" style="color: white;" role="button">Cancel</a>
</form>

<div class="progress" id="progress" style="display: none;"></div>

<script src="{% static 'mindspace/resource_create.js' %}"></script>

<style>
  #id_description {
    height: 100px !important;
  }
</style>