{% comment %} {% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mindspace/resource_create.css' %}">
{% endblock styles %}
{% block js %}
  <script src="{% static 'mindspace/dropdown.js' %}"></script>
  <script src="{% static 'mindspace/resource_create.js' %}"></script>
{% endblock js %}

{% load crispy_forms_tags %}

{% block title %}
    {{block.super}} - Create a Resource
{% endblock title %} {% endcomment %}

{% comment %} {% block navbar %}

  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a class="active" href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a href="#">Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#home">Create a new Mindspace</a>
        <a href="#about">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>

{% endblock navbar %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

{% load crispy_forms_tags %}
{% load static %}

        <h4> Create a new Resource </h4>
        <form action="{% url 'mindspace:resource_create' ms_id=parent.id %}" id="id-create-resource-form" method='POST' enctype="multipart/form-data">{% csrf_token %}
            {{form.title|as_crispy_field}}
            {{form.description|as_crispy_field}}
            {{form.res_format|as_crispy_field}}
            {{form.video|as_crispy_field}}
            {{form.image|as_crispy_field}}
            <a data-toggle="tooltip" data-placement="right" title="{{ form.document.help_text|safe }}">{{form.document|as_crispy_field}}</a>
            {{form.quote|as_crispy_field}}
            {{form.link|as_crispy_field}}
            <input type='submit' class='btn btn-success' value='Save'/>
            {% comment %} <a class="btn btn-secondary" href="{{parent.get_absolute_url}}" role="button">Cancel</a> {% endcomment %}
        </form>

        <div class="progress" id="progress" style="display: none;"></div>

    <script src="{% static 'mindspace/resource_create.js' %}"></script>

    <style>
      #id_description {
        height: 100px !important;
      }
    </style>

{% comment %} {% endblock content %} {% endcomment %}