{% extends 'mindspace/base.html' %}

{% block title %}
    {{block.super}} - Delete
{% endblock title %}

{% block content %}
    <div>
        <form action='.' method='POST'>{% csrf_token %}
            <h2>Do you want to delete this Mindspace "{{object.title}}"?</h2>
            <h3>Important: All resources belonging to this Mindspace will be deleted as well.</h3>
            <p><input type='submit' value='Yes'/>  <button> <a href='{{object.get_absolute_url}}'>Cancel</a> </button> </p>
        </form>
            
        {% if object.resources.count > 0 %}
            <h3>Resources belonging to this Mindspace</h3>
            {% for resource in object.resources.all %}
                <li> <a href='{{resource.get_absolute_url}}'> {{resource.title}} </a></li>
            {% endfor %}
        {% else %}
            <h3>There is no resource belonging to this Mindspace.</h3>
        {% endif %}
    </div>
{% endblock content %}