{% extends 'mindspace/base.html' %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_detail.css' %}">
{% endblock styles %}
{% block js %}
  <script src="{% static 'mindspace/dropdown.js' %}"></script>
{% endblock js %}

{% block title %}
    {{block.super}}
{% endblock title %}

{% block navbar %}
<ul>
  <li><a href={% url 'main_page' %}>Home</a></li>
  <li><a class="active" href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
  <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
  <li><a href="#">Q&A</a></li>
  <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Actions</button>
    <div id="myDropdown" class="dropdown-content">
      <a href={% url 'mindspace:resource_create' ms_id=object.id %}>Create new Resource</a>
      <a href={% url 'mindspace:mindspace_share' id=object.id %}>Share</a>
      <a href={% url 'mindspace:mindspace_update' id=object.id %}>Edit</a>
    </div>
  </div>
</ul>
{% endblock navbar %}

{% block content %}

  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"> {{object.title}} </li>
    </ol>

    <div class="card text-center">
      <div class="card-header">
        Mindspace
      </div>
      <div class="card-body">
        <h5 class="card-title"> {{object.title}} </h5>
        <p class="card-text"> {{object.description}} </p>
      </div>
      <div class="card-footer text-muted">
        Created at {{object.created_at|date:"l j M Y - H:i"}}
      </div>
    </div>

    <h2>Your Resources</h2>

    {% if object.resources.count > 0 %}
    <div class="card-deck">
      {% for res in object.resources.all %}
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> {{res.title}} </h5>
            <p class="card-text"> {{res.description}} </p>
            <a href="{{res.get_absolute_url}}" class="btn btn-primary">Go</a>
          </div>
          <div class="card-footer">
            {% if res.is_recent %}
            <small class="text-muted"> Updated just now </small>
            {% else %}
              <small class="text-muted">Last updated {{res.updated_at|timesince}} ago </small>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
    
{% endblock content %}