{% extends 'mindspace/base.html' %}

{% block title %}
    {{block.super}}
{% endblock title %}

{% block content %}
    <h1>{{object.title}}</h1>
    <p>{{object.description}}</p>

    <button> <a href='{% url 'mindspace:mindspace_list' %}'>Back to Dashboard</a> </button>
    <button> <a href='{% url 'mindspace:mindspace_update' id=object.id %}'>Update this Mindspace</a> </button>
    <button> <a href='{% url 'mindspace:mindspace_delete' id=object.id %}'>Delete this Mindspace</a> </button>

    {% if object.resources.count > 0 %}
        <h2>Resources</h2>
        {% for res in object.resources.all %}
            <li> <a href='{{res.get_absolute_url}}'> {{res.title}} </a> - {{res.description}} </li><br>
        {% endfor %}
        <button type=button> <a href='{% url 'mindspace:resource_create' ms_id=object.id %}'>Add a new resource</a> </button>
    {% else %}
        <h2> No resources available! <a href='{% url 'mindspace:resource_create' ms_id=object.id %}'>Add your first resource!</a> </h2>
    {% endif %}
{% endblock content %}