{% comment %} {% extends "mindspace/base.html" %} 


{% block styles %}
  
{% endblock styles %}
{% block js %}
  
{% endblock js %}

{% load crispy_forms_tags %}

{% block title %}
    {{block.super}} - Post an Answer
{% endblock title %} {% endcomment %}

{% comment %} {% block navbar %}

  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a class="active" href={% url 'qna:question_list' %}>Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#home">Clicked</a>
        <a href="#about">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>

{% endblock navbar %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

{% load static %}
<script src="{% static 'qna/resource_dropdown_list.js' %}"></script>

{% load crispy_forms_tags %}

<div style="background-color: rgb(222, 250, 253); padding: 10px; border: 2px solid #b6b6b6; max-width: inherit;">
  <h3> Post an answer </h3>
  <form action="{% url 'qna:answer_create' q_id=question.id %}" load-answers-url="{% url 'qna:answer_list' %}" id="id-answer-form-{{question.id}}" data-resources-url="{% url 'qna:ajax_load_resources' %}" novalidate>
  {% csrf_token %}
      {{form|crispy}}
      <input type='submit' class='btn btn-secondary' value='Save'/>
      <a class="btn btn-secondary" id="id-cancel-answer-form-{{question.id}}" style="color: white;" role="button">Cancel</a>
  </form>
</div>

{% comment %} {% endblock content %} {% endcomment %}