{% extends "qna/base.html" %} 

{% load static %}

{% block js %}
  <script src="{% static 'qna/resource_dropdown_list.js' %}"></script>
{% endblock js %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <h1> Update your answer </h1>
        <form action="{% url 'qna:answer_update' q_id=object.question.id id=object.id %}" id='question_form' method='POST' data-resources-url="{% url 'ajax_load_resources' %}" novalidate>
        {% csrf_token %}
            {{form|crispy}}
            <input type='submit' class='btn btn-success' value='Save'/>
            <a id="id-cancel-button" class="btn btn-secondary" role="button">Cancel</a>
        </form>
    </div>

{% endblock content %}

{% block styles %}
  <style>
      #id-cancel-button {
          color: white !important;
      }
  </style>
{% endblock styles %}