{% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'qna/question_list.css' %}">
  <style>
    #body_field {
      height: 100px !important;
    }
  </style>
{% endblock styles %}

{% block js %}
    <script src="{% static 'qna/resource_dropdown_list.js' %}"></script>
    <script src="{% static 'qna/question.js' %}"></script>
{% endblock js %}

{% block title %}Q&A{% endblock title %}

{% load crispy_forms_tags %}
{% load has_voted %}
{% load is_upvote %}
{% load order_answers %}

{% block content %}

    <div class="main-container">

        <div class="qna-sidebar">
            <div class="qna-create">
                <h4> Create a new Question </h4>

                {% include 'mindspace/markdown_toolbar.html' %}

                <form action="{% url 'qna:question_create' %}" method="POST" id='id-question-form' data-resources-url="{% url 'qna:ajax_load_resources' %}" novalidate> {% csrf_token %}
                    {{form_create|crispy}}
                    <input type='submit' class='btn btn-secondary' value='Save'/>
                </form>
            </div>

            {{ form_create.media }}

            <div class="qna-search">
                <h4> Search a Question </h4>
                <form action="{% url 'qna:question_search' %}" id='id-question-search-form' autocomplete="off">
                    {{form_search|crispy}}
                    <input type='submit' id="id-question-search-submit-button" class='btn btn-secondary' value='Search'/>
                </form>
            </div>

        </div>

        <div class="qna-results">
            <div class="section-buttons">
                <button type="button" data-url="{% url 'qna:ajax_load_question_lists' %}" id="id-my-questions-button" class="btn btn-primary btn-lg btn-block disabled">My Questions</button>
                <button type="button" data-url="{% url 'qna:ajax_load_question_lists' %}" id="id-my-answers-button" class="btn btn-info btn-lg btn-block disabled">My Answers</button>
                <button type="button" data-url="{% url 'qna:ajax_load_question_lists' %}" id="id-comm-button" class="btn btn-secondary btn-lg btn-block disabled">Community Questions</button>
            </div>

            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="display: none; margin-top: 20px;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="questions" style="display: none;">
            </div>

            <div class="question-search-results" style="display: none;">
            </div>
        </div>
    </div>

{% endblock content %}