<form action="{% url 'qna:question_delete' id=object.id %}" id="id-question-delete-form-{{object.id}}" method='POST'>{% csrf_token %}
    <h2>Do you want to delete "{{object.title}}"?</h2>
    <p>Important: {{object.answers.all|length}} answer(s) belonging to this question will be deleted as well.</p>
    <p>
      <input type='submit' class="btn btn-primary" value='Yes'/> 
      <a class="btn btn-secondary" id="id-cancel-question-delete-form-{{object.id}}" data-dismiss="modal" style="color: white;">Cancel</a>
    </p>
</form>