{% load crispy_forms_tags %}
{% load static %}

<h4> Create a new Question </h4>
<form action="{% url 'qna:question_create' %}" id='question_form' data-resources-url="{% url 'qna:ajax_load_resources' %}" novalidate>
{% csrf_token %}
    {{form|crispy}}
    <input type='submit' class='btn btn-success' value='Save'/>
    <a class="btn btn-secondary" data-dismiss="modal" style="color: white;" role="button">Cancel</a>
</form>

{{ form.media }}

<style>
  #body_field {
    height: 100px !important;
  }
</style>
