{% comment %} {% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mindspace/resource_create.css' %}">
{% endblock styles %}
{% block js %}
  <script src="{% static 'qna/resource_dropdown_list.js' %}"></script>
  <script src="{% static 'qna/dropdown.js' %}"></script>
{% endblock js %}



{% block title %}
    {{block.super}} - Update Question
{% endblock title %}

{% block navbar %}

  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a class="active" href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a href="#">Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#home">Clicked</a>
        <a href="#about">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>

{% endblock navbar %}

{% block content %} {% endcomment %}

{% load crispy_forms_tags %}
{% load static %}

<script src="{% static 'qna/resource_dropdown_list.js' %}"></script>

        <h3> Update "{{object.title}}" </h3>
        <form action="{% url 'qna:question_update' id=object.id %}" id="id-question-update-form-{{object.id}}" data-resources-url="{% url 'qna:ajax_load_resources' %}" novalidate>
        {% csrf_token %}
            {{form|crispy}}
            <input type='submit' class='btn btn-success' value='Save'/>
            <a class="btn btn-secondary" id="id-cancel-question-update-form-{{object.id}}" style="color: white;" data-dismiss="modal">Cancel</a>
        </form>

{% comment %} {% endblock content %} {% endcomment %}