{% extends "mindspace/base.html" %} 

{% load static %}
{% block styles %}
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'mindspace/mindspace_list.css' %}"> {% endcomment %}
{% endblock styles %}
{% block js %}
{% endblock js %}

{% block title %}
    Q&A
{% endblock title %}

{% comment %} {% block navbar %}
  <ul>
    <li><a href={% url 'main_page' %}>Home</a></li>
    <li><a href={% url 'mindspace:mindspace_list' %}>Dashboard</a></li>
    <li><a href={% url 'profiles:profile_detail' id=request.user.profile.id %}>Profile</a></li>
    <li><a class="active" href={% url 'qna:question_list' %}>Q&A</a></li>
    <li style="float:right"><a href={% url 'logout' %}>Logout</a></li>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Actions</button>
      <div id="myDropdown" class="dropdown-content">
        <a href={% url 'qna:question_create' %}>Ask a question</a>
        <a href="#about">Clicked</a>
        <a href="#contact">Clicked</a>
      </div>
    </div>
  </ul>
{% endblock navbar %} {% endcomment %}

{% block content %}

    <div class="container-fluid">
      <h2 class="ms_header">Your Questions</h2>

      {% for object in object_list %}
        <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> {{object.title}} </h5>
              <p class="card-text"> {{object.body}} </p>
              <a href="{{object.get_absolute_url}}" class="btn btn-primary">Go</a>
            </div>
            <div class="card-footer">
              {% if object.is_recent %}
                <small class="text-muted"> Updated just now </small>
              {% else %}
                <small class="text-muted">Last updated {{object.updated_date|timesince}} ago </small>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <p>No questions</p>
      {% endfor %}

      <h2 class="ms_header">Questions Asked by Community</h2>
      <div class="card-deck">
        {% for q in object_list_questions %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> {{q.title}} </h5>
              <p class="card-text"> {{q.body}} </p>
              <a href="{{q.get_absolute_url}}" class="btn btn-primary">Go</a>
            </div>
            <div class="card-footer">
              {% if q.is_recent %}
                <small class="text-muted"> Updated just now </small>
              {% else %}
                <small class="text-muted">Last updated {{q.updated_date|timesince}} ago </small>
              {% endif %}
            </div>
          </div>
        {% empty %}
        {% endfor %}
      </div>
    </div>

{% endblock content %}